@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);

}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
  max-width: 90rem;
}

.section {
  padding: 4rem 2rem;
}