header {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem 0;
  font-size: 14px;
}

header .nav {
  display: flex;
  justify-content: space-between;
}

header .nav__list {
  display: flex;
  gap: 1rem;
}

footer {
  background: var(--primary);
  color: var(--primary-foreground);
  opacity: 70%;
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
}