.header {
  padding-top: 25px;

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: var(--muted-foreground);
    font-weight: 700;
    position: relative;

    &:hover {
      color: var(--foreground);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 100%;
      bottom: -10px;
      height: 1px;
      background-color: var(--muted-foreground);
      transition: right 0.2s;
    }

    &:hover::after {
      right: 0;
    }
  }

  .nav {
    width: 100%;
  }

  .nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0 0 0;
    background-color: var(--border);
  }
}

@media (max-width: 480px) {
  .header {
    display: none;
  }
}

.contacts {
  margin: 55px 20px 62px 0;
  text-align: center;
}

.contacts-title {
  font-size: 34px;
  font-weight: 700;
}

.contacts-button {
  margin: 75px 0 38px 0;

  width: 210px;
  height: 42px;
  background-color: var(--primary);

  border: none;
  border-radius: 20px;

  &:hover {
    opacity: 0.7;
  }
}

.button-link {
  font-size: 24px;
  color: var(--primary-foreground);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.social-icon {
  width: 65px;
  height: 65px;

  &:hover path {
    fill: lightcoral;
  }
}

.contacts-info {
  width: 260px;
  margin: 35px auto 0 auto;
  color: var(--muted-foreground);
}

@media (max-width: 480px) {

  .socials {
    gap: 20px;

  }

  .social-icon {
    width: 55px;
    height: 55px;
  }

  .contacts-info {
    font-size: 14px;

  }
}